body{
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
    background-image: repeating-linear-gradient(to right, #0CCDA3, #C1FCD3);
}

#list{
    margin: 0 auto; 
    width: 250px; 
    text-align: left;
} 

.eBtn{
    background-image: repeating-linear-gradient(to left, #6CC6CB,  #EAE5C9);
    border-radius: 3px;
    font-style: oblique;
}

.dBtn{
    background-image: repeating-linear-gradient(to left, #6CC6CB,  #EAE5C9);
    border-radius: 3px;
    font-style: oblique;
    margin-right: 3px;
    margin-left: 3px;
}

.Btn{
    background-image: repeating-linear-gradient(to left, #6CC6CB,  #EAE5C9);
    border-radius: 3px;
    white-space: 1em;
    font-style: oblique;
    height: 25px;
    width: 80px;
}


input{
    border-radius: 3px;
    margin-bottom: 5px;
    width: 250px;
    height: 20px;
}

h1{
    font-size: 24pt;
    font-style: oblique;
}

